html,body{ margin:0; padding:0; height:100%; width:100%; }

#emergency{
  width: 100%;
  height:50vh;

  background-color: orange;

}
#emergency:hover{
  background-color: blue;
}
#advice{
  float: left;
  width: 33vw;
  height: 50vh;
  background-color: #33FF00;
   display: inline-block;
}
#advice:hover{
  background-color: blue;
}
#stress{
  
  width: 33vw;
  height: 50vh;
  background-color: #66F777;
   display: inline-block;
}
#stress:hover{
  background-color: blue;
}
#calm{
  width: 33vw;
  height: 50vh;
  background-color: #99F400;
   display: inline-block;
}
#calm:hover{
  background-color: blue;
}

.row{
   display: table;
}
* {
margin: 0px;
padding: 0px;
}
