

/*fonts*/
h1{
  font-family: 'Patrick Hand SC', cursive;
  font-size: 5em;

}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

body{
  height: 600px;
}

a {
    color:   black;
}


#input {
    display: block;
    width:100%;
    height:10em;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #68D1FF;
    color: white;
    border-width: 0px;
}
#emergency{
  width: 100%;
  height:50vh;

  background-color: #049EE0;

}
#emergency:hover{
  background-color: #00E48E;
}
#advice{
  float: left;
  width: 31vw;
  height: 50vh;
  background-color: #0A48E3;
   display: inline-block;
}
#advice:hover{
  background-color:#00E48E;
}
#journal{

float: left;
  width: 31vw;
  height: 50vh;
  background-color: #2A50AE;
   display: inline-block;
}
#journal:hover{
  background-color: #00E48E;
}
#calm{
  float: left;
  width: 33vw;
  height: 50vh;
  background-color: #68D1FF;
   display: inline-block;
}
#calm:hover{
  background-color: #00E48E;
}

#bookmark:hover{
    background-color: #00E48E;
}




.panel{
  text-align: center;
  vertical-align: middle;
}

.row{
   display: table;
   width: 100%;
   height: 10%;
}
* {
margin: 0px;
padding: 0px;
}

.container {
    text-align: center;
    display: flex;
   
}
.container > div {
  flex: 1; /*grow*/
}

.flip-clock {
    display: inline-block;
    width: auto;
}

.panel-text { display: none; margin-top: 1em;}
.panel:hover .panel-text { display: block; }
.panel-text1 { display: none;}
.panel:hover .panel-text1 { display: block; }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 1s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    height: 30vh;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 2s;
    animation-name: slideIn;
    animation-duration: 2s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0A48E3;
    color: white;
}

.modal-body {height:50%;height:50em;}

.modal-footer {
  height:10em;


}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
